<div id="welcome-container">
	<p>Bem vindo ao Coding Interview da PTS!</p>
	<p>Siga os passos abaixo:</p>
	<ol style="list-style:decimal;">
		<li>Criar tela de Funcionários (Menu, Lista e CRUD com validações de formulário).</li>
		<li>Corrigir tela de Clientes (Lista), filtro de Estado não está funcionando.</li>
		<li>Corrigir tela de Clientes (Criação/Edição), consulta de Categorias não está funcionando.</li>
		<li>Corrigir tela de Categorias (Lista), consulta não está funcionando.</li>
		<li>Corrigir tela de Categorias (CRUD), não está funcionando.</li>
		<li>Corrigir tela de Produtos (Lista), não está funcionando.</li>
	</ol>
</div>
